footer {
    background-color:#e4e4e48e;
    text-align: center;
    position: fixed;
    bottom: 0 ;
    left: 42vw;
    border-radius: 25px;
}
footer a {
    color: var(--text-color)
}
footer i {
    padding: 1vw;
    font-size: 2.3vw;
  
}

footer a:hover{
    color:#EAEAEA;
}