footer {
    /* background-color:blueviolet; */
    text-align: center;
    position: fixed;
    bottom: 0 ;
    left: 42vw;
}
footer a {
    color: var(--text-color)
}
footer i {
    padding: 1vw;
    font-size: 2.3vw;
  
}